.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 10%; */
  transition: background-color 0.3s ease;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: 40px;
  max-width: 40px; /* Adjust the size as needed */
  margin-right: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(203, 71, 71);
  transition: background-color 0.3s ease;
}

/* Change background on hover */
.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
}
